---
import '../styles/common.css';

import Icon from '../components/Icon.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <h1 class="font-bold">
            DIREZIONE <br />
            <span class="font-bold">
                FUTURO
                <img src="/logo_sito.svg" alt="" srcset="" />
            </span>
        </h1>

        <span><i class="font-regular">Orientamento per la scelta della scuola superiore a Rovereto</i></span>

        <nav>
            <a href="/istituti">
                <Icon code="e7ee" color="var(--foreground-secondary)" />
                <span>Istituti</span>
            </a>
            <a href="/openday">
                <Icon code="ebcc" color="var(--foreground-secondary)" />
                <span class="font-light">Incontri e <br>Open Days</span>
            </a>
            <a href="/map">
                <Icon code="e55b" color="var(--foreground-secondary)" />
                <span class="font-light">Mappa Scuole</span>
            </a>
        </nav>
    </main>
</Layout>

<style>
    main {
        width:calc(100% - 2rem);
        height: calc(100% - 2.4rem);
        padding: 1.2rem 1rem;

        background-color: var(--background-primary);
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    h1, h1 > span {
        font-size: 3rem;
        text-align: center;
        color: var(--foreground-primary);
        line-height: 3.5rem;
    }

    h1 > span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 > span > img {
        margin: 0 0 0 0.4rem;
        height: 3rem;
    }

    main > span {
        margin: 0 2rem;

        font-size: 1rem;
        color: var(--foreground-secondary);
        text-align: center;
    }

    nav {
        width: 100%;
        height: 75%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        flex-direction: column;
        gap: 1em 4em;
    }

    a {
        text-align: center;
        margin: 0.5rem;

        display: flex;
        flex-direction: column;
        text-decoration-line: unset;
    }

    a:hover span {
        color: var(--tint-orange);
    }

    span:first-child {
        font-size: 6rem;
        color: var(--foreground-secondary);
    }
    span:last-child {
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--foreground-secondary);
    }

    /* For tablets: */
    @media only screen and (min-width: 600px) {
        h1, h1 > span {
            font-size: 4.5rem;
            line-height: 7rem;
        }

        main > span {
            font-size: 2rem;
        }

        h1 > span > img {
            height: 4rem;
        }

        span:first-child {
            font-size: 9rem;
        }

        nav {
            flex-direction: row;
        }
    }

    /* For desktop: */
    @media only screen and (min-width: 768px) {
        h1, h1 > span {
            font-size: 6.5rem;
            line-height: 7.5rem;
        }

        h1 {
            margin-bottom: 3rem;
        }

        h1 > span > img {
            height: 6rem;
        }

        span:first-child {
            font-size: 10rem;
        }
    }
</style>
