---
import { SERVER_ADDRESS, SERVER_PORT } from '../../../Data/constants.ts';
import { Tag, type Institute } from '../../../Data/types.ts';
import { getMainSede } from '../scripts/Utils';

import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import SchoolListItem from '../components/SchoolListItem.astro';

const INSTITUTES_RAW = await fetch(`http://${SERVER_ADDRESS}:${SERVER_PORT}/instituti`);
const INSTITUTES: Institute[] = await INSTITUTES_RAW.json();

console.log(`[BUILD] (istituti.astro) Loaded ${INSTITUTES.length} institutes`);
---

<Layout>
    <Navbar current_view="istituti" />

    <main>
        {
            Object.values(Tag).map(tag => (
                <article>
                    <h2 class="font-regular"> {tag.slice(0, -1).concat('i')} </h2>
                    <hr />

                    <div>
                        {INSTITUTES.filter(institute => getMainSede(institute)?.tag === tag).map(institute => (
                            <SchoolListItem institute={institute} />
                        ))}
                    </div>
                </article>
            ))
        }
    </main>
</Layout>

<style>
    main {
    }

    main > article {
        padding: 2rem;
    }

    main > article > h2 {
        text-transform: capitalize;
        font-size: 1.8rem;
    }

    main > article > hr {
        margin: 0.5rem 0 0.8rem 0;

        border: 1.5px solid var(--tint-orange);
        border-radius: 20px;

        color: var(--tint-orange);
    }

    main > article > div {
        /* border: 1px solid red; */

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    /* For desktop: */
    @media only screen and (min-width: 768px) {
    }

    /* For wide-desktop: */
    @media only screen and (min-width: 1536px) {
        main {
            padding: 2rem;

            display: flex;
            align-items: flex-start;
            justify-content: center;
        }

        main > article {
            max-width: 1000px;
        }
    }
</style>
