---
import '../styles/common.css';

import { SERVER_ADDRESS, SERVER_PORT } from '../../../Data/constants.ts';
import { type Institute } from '../../../Data/types.ts';
import { getMainSede } from '../scripts/Utils';

import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import SchoolListItem from '../components/SchoolListItem.astro';

const INSTITUTES_RAW = await fetch(`http://${SERVER_ADDRESS}:${SERVER_PORT}/istituti`);
const INSTITUTES: Institute[] = await INSTITUTES_RAW.json();

console.log(`[BUILD] (istituti.astro) Loaded ${INSTITUTES.length} institutes`);
---

<Layout>
    <Navbar current_view="istituti" />

    <main id="institute-list">
        {
            INSTITUTES.map(institute => (
                <div>
                    <SchoolListItem institute={institute} />
                </div>
            ))
        }
    </main>
</Layout>

<script is:inline>
    
    let main = document.getElementById('institute-list');
    let childrens = main.children;
    let mixedChildren = [];
    
    for(child of childrens){
        do {
        numerocas = Math.floor(Math.random() * childrens.length);
        } while(mixedChildren[numerocas]!= null);
        mixedChildren[numerocas] = child;
    };
    
    main.innerHTML = '';

    mixedChildren.forEach(child => {
        main.appendChild(child);
    });
</script>

<style>
    main {
        width: calc(100% - 2rem);
        padding: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    main > div {
        flex-basis: 100%;
    }

    /* For desktop: */
    @media only screen and (min-width: 768px) { }

    /* For wide-desktop: */
    @media only screen and (min-width: 1536px) {
        main {
            width: calc(100% - 4rem);
            padding: 2rem;
            gap: 2rem;
        }

        main > div {
            max-width: 80rem;
            flex-basis: 30%;
        }
    }
</style>
