---
import '../styles/common.css';

import { SERVER_ADDRESS, SERVER_PORT } from '../../../Data/constants.ts';
import { type Institute } from '../../../Data/types.ts';
import { getMainSede } from '../scripts/Utils';

import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import SchoolListItem from '../components/SchoolListItem.astro';

const INSTITUTES_RAW = await fetch(`http://${SERVER_ADDRESS}:${SERVER_PORT}/istituti`);
const INSTITUTES: Institute[] = await INSTITUTES_RAW.json();

console.log(`[BUILD] (istituti.astro) Loaded ${INSTITUTES.length} institutes`);
---

<Layout>
    <Navbar current_view="istituti" />

    <main>
        {
            INSTITUTES.map(institute => (
                <div>
                    <SchoolListItem institute={institute} />
                </div>
            ))
        }
    </main>
</Layout>

<style>

    main {
        padding-bottom: 2rem;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    main > div {
        flex-basis: 48%;
    }

    /* For desktop: */
    @media only screen and (min-width: 768px) { }

    /* For wide-desktop: */
    @media only screen and (min-width: 1536px) {
        main {
            max-width: 180rem;
        }

        main > div {
            flex-basis: 30%;
        }
    }
</style>
