---
import "../styles/common.css"

interface Props {
  code: string;
  color: string;
  icon_size: string;
}

const { code, color, icon_size, ...rest } = Astro.props;
---

<style define:vars={{ color, icon_size }}>
  span {
    color: var(--color);
    font-size: var(--icon_size);
  }
</style>

<span class="material-symbols-outlined" {...rest}>&#x{code}</span>
