---
import "../styles/common.css"

interface Props {
  code: string;
  color: string;
}

const { code, color, ...rest } = Astro.props;
---

<style define:vars={{ color }}>
  span {
    color: var(--color);
    /* font-size: var(--icon_size); */
    transition: 200ms;
  }

  span:hover {
    transition: 100ms;
  }
</style>

<span class="material-symbols-outlined" {...rest}>&#x{code}</span>
