---
import Icon from './Icon.astro';

interface Prop {
    current_view: string;
}

const { current_view } = Astro.props;
---

<header>
    <a href="/">
        <img src="/logo_sito.svg" alt="" srcset="" />
    </a>

    <nav>
        <a href="/istituti">
            <Icon code="e7ee" color={current_view == 'istituti' ? 'var(--foreground-primary)' : 'var(--foreground-secondary)'} />
        </a>
        <a href="/openday">
            <Icon code="ebcc" color={current_view == 'openday' ? 'var(--foreground-primary)' : 'var(--foreground-secondary)'} />
        </a>
        <a href="/map">
            <Icon code="e55b" color={current_view == 'map' ? 'var(--foreground-primary)' : 'var(--foreground-secondary)'} />
        </a>
    </nav>
</header>

<style>
    header {
        width: 100%;
        height: 3.8rem;

        position: sticky;
        top: 0;

        background-color: var(--background-primary);

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        
        z-index: 999999;
    }

    a { 
        text-decoration-line: unset;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    header > a {
        height: calc(100% - 1rem);
        padding: 0.5rem 1rem;
        aspect-ratio: 1;
    }

    header > a > img {
        height: 100%;
    }

    header > nav {
        padding: 0 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
    }

    a:hover span {
        color: var(--tint-orange);
    }

    span {
        font-size: 2.3rem;
    }

    /* For tablets: */
    @media only screen and (min-width: 600px) {
        span {
            font-size: 2.5rem;
        }
    }

    /* For desktop: */
    @media only screen and (min-width: 768px) {
        header {
            height: 4rem;
        }

        span {
            font-size: 3rem;
        }
    }
</style>
