---
import { SERVER_ADDRESS, SERVER_PORT } from '../../../Data/constants.ts';
import type { Institute, Sede } from '../../../Data/types';
import { getMainSede } from '../scripts/Utils';

interface Props {
    institute: Institute;
}

const { institute } = Astro.props;
const SEDE: Sede = getMainSede(institute)!;
---

<a href={`/sede/${SEDE.codice_MIUR}`} class="hoverable">
    <img src={institute.logo_url} alt="" srcset="" />
    <span>{SEDE.nome}</span>
</a>

<style>
    a {
        padding: 0.5rem 1rem;

        color: unset;

        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        gap: 1rem;
    }

    a:hover {
        color: var(--background-primary);
        text-decoration: underline;
    }

    a > img {
        height: 4rem;
    }

    /* For tablets: */
    @media only screen and (min-width: 600px) {
    }

    /* For desktop: */
    @media only screen and (min-width: 768px) {
    }
</style>
