---
import { type Institute } from '../../../Data/types';

interface Props {
    institute: Institute;
}

const { institute } = Astro.props;
---

<a href={`/sede/${institute.sede_principale_MIUR}/`} class="hoverable">
    <img src={institute.logo_url} alt="" srcset="" />
    <span>{institute.nome}</span>
</a>

<style>
    a {
        padding: 0.5rem 1rem;

        color: unset;

        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        gap: 1rem;
    }

    a:hover {
        color: var(--background-primary);
        text-decoration: underline;
    }

    a > img {
        height: 4rem;
    }

    /* For tablets: */
    @media only screen and (min-width: 600px) {
    }

    /* For desktop: */
    @media only screen and (min-width: 768px) {
    }
</style>
