:root {
    --background-primary: #3a737d;
    --background-secondary: hsl(189, 30%, 90%);

    --foreground-primary: #FFFFFF;
    --foreground-secondary: #c0e1e7;
    --foreground-tertiary: #f2f2f2;

    --tint-orange: #f5ad70;
    --tint-red: #f57070;
}

* {
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    scrollbar-gutter: stable;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

a:active,
a:hover,
a:focus,
a:visited,
a:-webkit-any-link {
    color: unset;
    text-decoration: unset;
}

.font-bold {
    font-family: "azo-sans-uber", sans-serif;
    font-weight: 400;
    /* font-style: normal; */
}

.font-regular {
    font-family: "azo-sans-web", sans-serif;
    font-weight: 500;
    /* font-style: normal; */
}

.font-light {
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    /* font-style: normal; */
}